Repository tupui/soroban-versioning, pull requests merged in 2024-12, with the labels that each got.

#103 update SEO in front end
  dapp/public/icons/logos/twitter-x.svg
  dapp/src/components/page/project/ProjectInfo.astro
  dapp/src/components/page/proposal/ProposalPage.tsx
  dapp/src/constants/demoConfigData.js
  dapp/src/layouts/Layout.astro
  website/docusaurus.config.ts
Labels: enhancement, dapp

#93 Backend for DAO
  Cargo.lock
  Makefile
  contracts/versioning/src/contract_dao.rs
  contracts/versioning/src/contract_versioning.rs
  contracts/versioning/src/errors.rs
  contracts/versioning/src/lib.rs
  contracts/versioning/src/test.rs
  contracts/versioning/src/types.rs
  dapp/packages/soroban_versioning/dist/index.d.ts
  dapp/packages/soroban_versioning/dist/index.js
  dapp/packages/soroban_versioning/src/index.ts
Labels: enhancement, soroban, dao

#112 Update soroban-sdk to protocol 22
  .gitignore
  .soroban/soroban_domain_id
  .soroban/soroban_versioning_id
  Cargo.lock
  Cargo.toml
  Makefile
  contracts/versioning/src/contract_dao.rs
  contracts/versioning/src/contract_tansu.rs
  contracts/versioning/src/contract_versioning.rs
  contracts/versioning/src/lib.rs
  contracts/versioning/src/test.rs
  dapp/.env.example
  dapp/packages/soroban_versioning/dist/index.d.ts
  dapp/packages/soroban_versioning/dist/index.js
  dapp/packages/soroban_versioning/src/index.ts
Labels: rust, maintenance, soroban

#120 Update astro
  dapp/astro.config.mjs
  dapp/bun.lockb
  dapp/package.json
Labels: maintenance, javascript

#121 Add vote execution
  contracts/versioning/src/contract_dao.rs
  contracts/versioning/src/errors.rs
  contracts/versioning/src/lib.rs
  contracts/versioning/src/test.rs
  dapp/packages/soroban_versioning/README.md
  dapp/packages/soroban_versioning/dist/index.d.ts
  dapp/packages/soroban_versioning/dist/index.js
  dapp/packages/soroban_versioning/src/index.ts
Labels: enhancement, soroban, dao

#123 Add ledger wallet to kit
  .gitignore
  dapp/src/components/stellar-wallets-kit.ts
  dapp/src/layouts/Layout.astro
Labels: enhancement, javascript, dapp

#124 Vote execute
  dapp/src/components/page/proposal/ExecuteProposalModal.tsx
  dapp/src/components/page/proposal/ProposalPage.tsx
  dapp/src/components/page/proposal/VotingModal.tsx
  dapp/src/constants/contractErrorMessages.ts
  dapp/src/service/WriteContractService.ts
  dapp/src/utils/store.js
Labels: enhancement, dapp, dao
