Repository tupui/soroban-versioning, pull requests merged in 2025-06, with the labels that each got.

#212 Anonymous voting UI
  dapp/src/components/page/dashboard/CreateProjectModal.tsx
  dapp/src/components/page/project/AddBadgeModal.tsx
  dapp/src/components/page/project/DonateModal.tsx
  dapp/src/components/page/project/UpdateConfigModal.tsx
  dapp/src/components/page/project/UpdateHashModal.tsx
  dapp/src/components/page/proposal/CreateProposalModal.tsx
  dapp/src/components/page/proposal/ExecuteProposalModal.tsx
  dapp/src/components/page/proposal/ProposalTitle.tsx
  dapp/src/components/page/proposal/VerifyAnonymousVotesModal.tsx
  dapp/src/components/page/proposal/VotingResult.tsx
  dapp/src/components/utils/Toggle.tsx
  dapp/src/constants/constants.ts
  dapp/src/service/FlowService.ts
  dapp/src/service/WriteContractService.ts
  dapp/src/utils/anonymousVoting.ts
  dapp/src/utils/crypto.ts
  dapp/src/utils/utils.ts
Labels: enhancement, javascript, dapp, dao

#215 Add cost estimation workflow integration
  .github/workflows/cost-estimate.yml
  .github/workflows/parse_costs.py
Labels: enhancement, soroban, github_actions, onlydust-wave

#218 Add timeline UI and fix vote sending in frontend
  dapp/src/components/CommitRecord.tsx
  dapp/src/components/page/dashboard/MemberProfileModal.tsx
  dapp/src/components/page/dashboard/OnChainActions.tsx
  dapp/src/components/page/project/CommitHistory.jsx
  dapp/src/components/page/project/CommitRecord.jsx
  dapp/src/components/page/proposal/AnonymousTalliesDisplay.tsx
  dapp/src/components/page/proposal/CreateProposalModal.tsx
  dapp/src/components/page/proposal/ExecuteProposalModal.tsx
  dapp/src/components/page/proposal/OutcomeInput.tsx
  dapp/src/components/page/proposal/VerifyAnonymousVotesModal.tsx
  dapp/src/components/utils/OnChainActionRecord.tsx
  dapp/src/constants/onchain.ts
  dapp/src/service/OnChainActivityService.ts
  dapp/src/service/WriteContractService.ts
  dapp/src/utils/anonymousVoting.ts
  dapp/src/utils/badges.ts
Labels: enhancement, maintenance, javascript, dapp, onlydust-wave
